<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ridhi's Todo App</title>
    <link rel="stylesheet" href="styles.css" />
   
</head>
<body >
    <div class="main" ng-app="myList" ng-controller="myListController">
        <h1> Ridhi's To-Do List</h1>
        
        <div class="addItems">
            <input type="text" ng-model="newItem" placeholder="Add your Todo"  class="addText">
            <button ng-click="pushItem()">Add
            </button>
        </div>
        <ul>           
            <li ng-repeat="i in items">
                {{ i }}
                
                <span class="del" ng-click="deleteItem()"><img src="icons8-delete-100.png" class="del" ng-click="deleteItem($index)" alt="Delete"></span>
                
            </li>
        </ul>
        
    </div>
    
    <script src="angularjs.min.js"></script>
    <script src="script.js"></script>
   

</body>
</html>